* {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h4 {
  font-size: 16px;
}

a:visited,
a:hover,
a:link,
a:active {
  color: Aquamarine;
}
